:root{
  --darkGold: #805725;
  --lightBlue: #cfdef7;
}

@media screen and (max-width: 600px) {
  #navBar{
    display:none;
  }
  #title{
    font-size:10vw;
  }
  #THEsignLink{
    width:40vw; 
  }
   .detail{
    font-size: 5vw;
  }
}

/* medium devices */
@media screen and (min-width: 600px) {
  #title{
    font-size:8vw;
  }
  #THEsignLink{
    width:30vw; 
  }
  .detail{
    font-size: 4vw;
  }
}


/* Large devices*/
@media screen and (min-width: 990px) {
  #title{
    font-size:6vw;
  }
  #THEsignLink{
    width:25vw; 
  }
  .detail{
    font-size: 2vw;
  }
}




/*===============================INDEX===============================*/


#mainHome{
  width:100%;
  height:100vh;
  background-image: url('imageFolder/awesomegraycat.jpg');
  background-size: cover;
}

/*table*/
#titleSec{
  width:100%;
  margin-left:auto; 
  margin-right:auto; 
  padding-top: 8vh;
  height:50vh;
}

/*h1*/
#title{
  color:white;
  text-align: center;
  margin-top:20vh;
  margin-bottom:1vh;
}

#titleDetails{
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom:10vh;
  border-spacing: 2vw 0;
}

.detail{
  color:white;
}

#THEsignLink{
  margin-top:5vh;
  margin-left:auto; 
  margin-right:auto; 
  padding:1vw;
  background-color: DarkGoldenrod;
  text-align: center;
  border-radius:1vw;
  font-size: 200%;
}


/*======FAQ SECTION====*/

/*background*/
#FAQ{
  width:100%;
  height:100vh;
  background-color: rgb(53, 35, 16);
}

#FAQTable{
  width:80vw;
  height:60vh;
  border-spacing: 30px;
  padding-top:10vh;
  margin-left:auto;
  margin-right:auto;
}

.question{
  height:5vh;
  width:25vw;
  text-align:center;
  font-size:1.5vw;
  font-weight:bold;
  color:white;
}

.answer{
  background-color:rgb(63, 61, 61);
  font-size:1.5vw;
  border-radius:5px;
  padding:3vh;
  color:white;
  border: 5px solid rgb(28, 27, 24);
}


/*======SPONSORS====*/
#sponsors{
  width:100%;
  height:100vh;
  background-color: rgb(26, 25, 25);
  padding-top:5vh;
  padding-bottom:5vh;
}

#sponsorTitle{
  text-align:center;
  font-size:3vw;
  color:darkgoldenrod;
}


/*=========================CONTACT=========================*/
#contactTitle{
  text-align:center;
  margin-top:20vh;
  font-size:3vw;
  color:white;
}

#contactInfo{
  margin-left:10vw;
  margin-top:10vh;
  line-height: 10vh;
  font-size:2vw;
  color:white;
}







.white{
  color:white;
}


a:visited, a:link
{
  text-decoration: none;
}
a:hover{
  color: var(--lightBlue);
  font-weight: bold;
}


