:root{
  --darkGold: #805725;
  --lightBlue: #cfdef7;
}
*{
  color:white;
}

/*==============RESPONSE PLZ==============*/
/*small*/
@media screen and (max-width: 600px) {
  #navBar{
    display:none;
  }
  #title{
    font-size:10vw;
  }
  #THEsignLink{
    width:40vw; 
  }
  .large{
    font-size:8vw;
  }
  .medium, .info td:nth-child(odd){
    font-size: 6vw;
  }
  .small, li{
    font-size: 4vw;
  }

}

/* medium devices */
@media screen and (min-width: 600px) {
  #title{
    font-size:8vw;
  }
  #THEsignLink{
    width:30vw; 
  }
  .large{
    font-size:8vw;
  }
  .medium,.info td:nth-child(odd){
    font-size: 4.5vw;
  }
  .small, li{
    font-size: 3vw;
  }
}


/* Large devices*/
@media screen and (min-width: 990px) {
  .large{
    font-size:4.5vw;
  }
  .medium{
    font-size:2.5vw;
  }
  .small{
    font-size:2vw;
  }
  li{
    font-size:1.5vw;
  }
  #THEsignLink{
    width:30vw; 
  }
}




/*===============================INDEX===============================*/


#mainHome{
  width:100%;
  height:100vh;
  background-image: url('imageFolder/awesomegraycat.jpg');
  background-size: cover;
}

/*table*/
#titleSec{
  width:100%;
  margin-left:auto; 
  margin-right:auto; 
  padding-top: 8vh;
  height:50vh;
}

/*h1*/
#title{
  text-align: center;
  margin-top:25vh;
  margin-bottom:1vh;
}

#titleDetails{
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom:10vh;
  border-spacing: 2vw 0;
}

.tDetail{
  color:rgb(255, 246, 237);
}

#THEsignLink{
  margin-top:15vh;
  margin-left:auto; 
  margin-right:auto; 
  padding:1vw;
  background-color: DarkGoldenrod;
  text-align: center;
  border-radius:1vw;
}


/*======FAQ SECTION====*/

/*background*/
#FAQ{
  width:100%;
  height:100vh;
  background-color: rgb(35, 25, 13);
}

#FAQTitle{
  padding-top:5%;
  padding-bottom:2%;
  margin:0;
  text-align:center;
}

/* not used
#FAQTable{
  width:80vw;
  max-width: 1000px;
  height:60vh;
  border-spacing: 30px;
  padding-top:10vh;
  margin-left:auto;
  margin-right:auto;
}
*/

.slide {
  display: none;
  width:80vw;
  height:65%;
  margin-left:auto;
  margin-right:auto;
}

.question{
  padding-bottom:3%;
  padding-top:4%;
  height:5vh;
  width:75vw;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  font-weight:bold;
  color:moccasin;
}

.answer{
  background-color:rgb(63, 61, 61);
  width:75%;
  margin-top:3%;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  padding:5%;
  border: 10px solid rgb(28, 27, 24);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 150vh;
  padding: 16px;
  margin:5%;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select:none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.active, .dot:hover {
  background-color: #717171;
}

/*======SPONSORS====*/
#sponsors{
  width:100%;
  height:100vh;
  background-color: rgb(0, 0, 0);
  padding-top:5vh;
  padding-bottom:5vh;
}

#sponsorTitle{
  text-align:center;
  color:darkgoldenrod;
}


/*=========================OTHER=========================*/
#contBar{
  width:94vw;
  background-color:rgb(51, 48, 48);
  height:13vh;
  padding:3%;
}
#cont{
  margin:0;
  text-align:center;
}

.infoTitle{
  text-align:center;
  margin-top:30vh;
  margin-bottom: 10vh;
}

.info{
  margin-left:5%;
  margin-right:auto;
  margin-top:10vh;
  line-height: 10vh;
  color:rgb(255, 255, 255);
}

.info tr, .info td{
  padding: 20px;
  border: 2px solid black;
}

.info{
  border-collapse: collapse;
  border-style: hidden;
  margin-bottom:20vh;
}




hr{
  margin:0 5%;
}

a:visited, a:link
{
  color:rgb(255, 255, 255);
  text-decoration: none;
}
a:hover{
  color: var(--lightBlue);
  font-weight: bold;
}
.info tr:hover {background-color: #1f2020;}


